@use 'var'as x;

.calculator {
    background-color: var(--dark-3);

    &__text {
        span {
            color: var(--primary);
        }
    }

    &__container {
        align-items: center;
        padding: x.$u8 0;
    }

    &__tool {
        width: 100%;
        display: flex;
        overflow: hidden;
        border-radius: x.$u2;
        margin-top: x.$u5;
        background-color: var(--dark-1);
    }

    &__form {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: x.$u7;
        gap: x.$u4;
        background-color: var(--dark-1);

        &__small {
            font-size: x.$text-base;
            color: var(--light-2);
        }

        label {
            color: var(--light-2);
            @include x.space(600);
            font-size: x.$text-base;
        }

        &__input-wrapper {
            flex: 1;
            display: flex;
            flex-direction: column;
            margin-top: x.$u4;
            gap: x.$u1;
        }

        input[type="number"] {
            background-color: transparent;
            border: none;
            outline: none;
            color: var(--light-1);
            flex: 1;
        }

        input[type="range"] {
            -webkit-appearance: none;
            appearance: none;
            width: 100%;
            height: 20px;
            background: transparent;
            margin: 0;
            outline: none;

            --range-progress: 50%;

            &::-webkit-slider-runnable-track {
                width: 100%;
                height: 8px;
                border-radius: x.$u7;
                background: linear-gradient(to right,
                        var(--primary) var(--range-progress),
                        var(--light-3) var(--range-progress));
            }

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                height: 18px;
                width: 18px;
                background: var(--primary);
                border-radius: 50%;
                cursor: pointer;
                position: relative;
                z-index: 2;
                margin-top: -5px;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
            }
        }

        &__input-box {
            background-color: var(--dark-3);
            display: flex;
            padding: x.$u3;
            border-radius: x.$u2;
            border: 1px solid var(--light-3);
            gap: x.$u3;

            svg {
                fill: var(--light-2);
            }

            &:focus-within {
                border-color: var(--primary);
                box-shadow: 0 0 15px rgba(239, 68, 68, 0.2);
            }

        }

    }

    &__form-group {

        &__texts {
            display: flex;
            gap: x.$u5;
        }

        &__slide {
            display: flex;
            flex-direction: column;
            gap: x.$u2;
        }

        &__labels-container {
            display: flex;
            justify-content: space-between;
            margin-bottom: x.$u1;


            .label-start,
            .label-current,
            .label-end {
                font-size: x.$text-sm;
                color: var(--light-2);
            }

            .label-current {
                color: var(--primary);
                font-weight: 700;
            }
        }
    }

    &__display {
        width: 350px;
        background-color: var(--primary-t);
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: x.$u5;
        padding: x.$u6;
        border-left: 2px solid var(--primary);

        &__title {
            color: var(--primary);
            @include x.space(600);
            font-size: x.$text-sm;
        }

        &__title-y,
        &__title-m {
            font-size: x.$text-base;
        }

        &__number-y,
        &__number-m {
            @include x.space(700);
            font-size: x.$text-xxl;
        }

        &__number-y {
            color: var(--primary);
        }

        &__line {
            display: block;
            background-color: var(--primary);
            width: 100%;
            height: 1px;
        }

        &__desc {
            font-size: x.$text-xs;
            @include x.space(600);
            color: var(--light-2);
        }

        &__button {
            background-color: var(--primary);
            padding: x.$u3;
            border-radius: x.$u1;
            @include x.space(600);
            transition: all 300ms ease-in-out;

            &:hover {
                box-shadow: 0 0 15px rgba(239, 68, 68, 0.2);
            }
        }
    }
}