@use 'var'as x;

.card {
    border-radius: x.$u4;
    background-color: var(--dark-2);
    border: var(--light-3) solid 1px;
    padding: x.$u5;
    display: flex;
    flex-direction: column;
    gap: x.$u3;
}

.card-text {
    font-size: x.$text-base;
    color: var(--light-2)
}

.section-title {
    @include x.inter(600);
    color: var(--light-1);
    font-size: x.$text-xxl;
}

.section-text {
    font-size: x.$text-lg;
    color: var(--light-2);
    @include x.space;

    span {
        color: var(--light-1);
        font-size: x.$text-lg;
        @include x.space(600);
    }
}

.tag {
    background-color: var(--light-3);
    color: var(--light-1);
    border-radius: x.$u1;
    padding: x.$u1 x.$u2;
    display: block;
    max-width: fit-content;
    @include x.space(800);
    text-transform: uppercase;
    font-size: x.$text-sm;
    height: fit-content;
}

main {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--light-1);
    @include x.inter(600);
}

h3 {
    font-size: x.$text-md;
}

small {
    color: var(--light-1);
    font-size: x.$text-sm;
    @include x.space(600);
}

a,
p,
span,
li {
    color: var(--light-1);
    @include x.inter(400);
    font-size: x.$text-md;
}

a {
    text-decoration: none;
    transition: all 300ms ease-in-out;

    &:hover {
        color: var(--primary);
    }
}

ul,
ol {
    list-style: none;
}

header,
section,
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    border-bottom: 1px solid var(--light-3);
}

button {
    border: none;
    cursor: pointer;
    color: var(--light-1);

    &:active {
        transform: scale(0.95);
        filter: brightness(0.85);
    }
}

.container {
    width: 90%;
    height: 100%;
    max-width: x.$max-container;
    display: flex;
    flex-direction: column;
}


@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}