@use 'var'as x;

.cta {
    border: none;

    &__container {
        padding-top: x.$u8;
        padding-bottom: x.$u2;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__form {
        margin-top: x.$u3;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 900px;
        background-color: var(--dark-3);
        padding: x.$u7;
        padding-bottom: x.$u5;
        border-radius: x.$u3;
        border: 1px solid var(--light-3);
        gap: x.$u4;

        &__input-wrapper {
            display: flex;
            flex-direction: column;
            flex: 1;
            min-width: 300px;
            gap: x.$u1;
        }

        &__label {
            @include x.space(700);
            color: var(--light-1);
            font-size: x.$text-base;
        }

        &__input {
            background-color: var(--dark-2);
            border: none;
            border-bottom: solid 2px var(--light-2);
            padding: x.$u3;
            outline: none;
            @include x.space;
            color: var(--light-1);

            &:focus {
                border-color: var(--primary);
            }
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            gap: x.$u2;
        }

        &__item {
            background-color: var(--dark-1);
            gap: x.$u2;
            flex: 1 1;
            min-width: 240px;
            padding: x.$u4;
            border: 1px solid var(--light-3);
            border-radius: x.$u1;
            display: flex;
            flex-direction: column;
            gap: x.$u2;
            cursor: pointer;

            svg {
                fill: var(--primary)
            }

            &__text {
                font-size: x.$text-base;
                color: var(--light-2);
            }

            &.active {
                border-color: var(--primary);
            }
        }

        &__button {
            color: var(--dark-3);
            @include x.space(800);
            background-color: var(--light-1);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: x.$text-md;
            padding: x.$u3;
            border-radius: x.$u1;

            &:hover {
                box-shadow: var(--light-1) 0 0 4px;
            }


            svg {
                fill: var(--dark-3);
            }
        }

        &__small {
            font-size: x.$text-base;
            text-align: center;
            color: var(--light-2);
        }
    }

    &__form-group {
        display: flex;
        flex-wrap: wrap;
        gap: x.$u3;
    }

}