@font-face {
    font-family: "Space Grotesk";
    font-style: normal;
    font-weight: 100 1000;
    font-display: swap;
    src: url("/fonts/SpaceGrotesk.ttf") format("truetype")
}

@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100 1000;
    font-display: swap;
    src: url("/fonts/Inter.ttf") format("truetype")
}

@font-face {
    font-family: "Inter";
    font-style: italic;
    font-weight: 100 1000;
    font-display: swap;
    src: url("/fonts/Inter-Italic.ttf") format("truetype")
}