@use 'var'as x;

.projects {
    background-color: var(--dark-1);

    &__title {
        width: 100%;
        text-align: center;
    }

    &__container {
        padding: x.$u8 0;
    }

    &__content {
        display: flex;
        flex-wrap: wrap;
        gap: x.$u3;
        margin-top: x.$u4;
        justify-content: center;
    }

    &__card {
        background-color: var(--dark-2);
        border: 1px solid var(--light-3);
        flex: 1 1;
        min-width: 300px;
        max-width: 400px;
        display: flex;
        flex-direction: column;

        &__line {
            display: block;
            width: 100%;
            height: 1px;
            background-color: var(--light-3);
        }

        &__content {
            padding: x.$u5;
            display: flex;
            flex-direction: column;
            gap: x.$u3;
            justify-content: space-between;
            flex: 1;
        }

        &__img {
            width: 100%;
            aspect-ratio: 16/9;
            background-color: var(--dark-3);

            img {
                width: 100%;
                height: 100%;
            }
        }

        &__titles {
            display: flex;
            justify-content: space-between;
        }

        &__metrics {
            display: flex;
            border-top: 1px solid var(--light-3);
        }

        &__text {
            flex: 1 1;
        }

        &__metric {
            flex: 1;
            padding: x.$u2;
            justify-self: end;

            &__title {
                color: var(--light-2);
            }

            &__value {
                @include x.space;

                &.primary {
                    color: var(--primary)
                }
            }
        }
    }
}