@use 'var'as x;

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

body {
    background-color: var(--dark-2);
}

::selection {
    background-color: var(--primary);
    color: var(--light-1);
}

::-moz-selection {
    background-color: var(--primary);
    color: var(--light-1);
}